@import url(Base.css);

ul {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(69, 113, 255);
}